/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container {
    height: auto;
    margin: 25px auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 100px;
    width: 100%;
}
.container1 {
    height: 266px;
    padding-left: 20px;
    width: 100%;
}
#image1 {
    background-image: url(/home/john/Desktop/Pre-Course/task3/assets/big_img.jpg);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.container1 #image1 {
    width: 100%;
}
.column {
    display: inline-block;
    padding-left: 50px;
    padding-right: 30px;
     width: 33.33%;
}

/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Section1
  ========================================
*/

.section1 .left {
    float: left;
    width: 50%;
}
.section1 .right {
    float: right;
    width: auto;
}
.section2 {
    clear: both;
}

/*
  ==========================================
  Section2
  ==========================================
*/
.section2 .left {
    float: left;
}
.section2 .right {
    float: right;
}
.section3 {
    clear: both;
}

#adspace {
    background-color: #73e600;
    color: white;
    text-align: center;
}

.btn {
    border: 1px none black;
    border-radius: 50px;
    background: black;
    color: white;
    display: inline-block;
    margin-top: 25px;
}
.btn-alt {
    padding: 15px 30px;
}

/*
  ===================================
  Header
  ===================================
*/

.gnome {
    line-height: 150%;
    font-size: 50px;
    padding-left: 25px;
    padding-top: 25px;
}
header,
.primary-header {
    color: #ffcc00;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 25px;
    margin-top: 0;
    margin-bottom: 25px;
    background-color: black;
   
}
header p {
    text-align: right;
}
/* 
  ====================================
  Footer
  ====================================
*/
footer,
.primary-footer {
    color: #ffcc00;
    font-size: 25px;
    font-weight: bold;
    height: 200px;
    padding-bottom: 50px;
    margin-top: 0;
    margin-bottom: 25px;
    background-color: black;
    text-align: center;
}
    
/*
  ======================================
  Styles
  ======================================
*/
h1, h2, h3, p {
    margin-top: 30px;
    margin-bottom: 25px;
}
body {
    background-color: #dddddd;
    font-family: 'PT Serif', serif;
}
h2 {
    font-size: 30px;
    font-weight: bold;
}
h3 {
    font-size: 25px;
}
p {
    font-size: 18px;
}
.quote {
    font-size: 30px;
}
section {
    background: white;
}

